import { StrictMode, useState, useEffect } from 'react'
import { createRoot } from 'react-dom/client'
import '../index.css'
import { DynamicTemplates } from '../templates/dynamicDisplayTemplates/dynamicTemplates'
import { ScrollArea } from '../components/ui/scroll-area'
import callbackManager from '../carapi_js/callbackManager.js'
${apiImports}



// 模块级别的cardId，整个应用共享
const TITLE = "${title}"
const cardId = `${TITLE}_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`
// 车控卡片组件定义
const ${CardName} = () => {

    useEffect(() => {
      const handleBeforeUnload = (event: BeforeUnloadEvent) => {
        callbackManager.unregisterCardListener(cardId);
      };
      window.addEventListener('beforeunload', handleBeforeUnload);
      return () => {
        window.removeEventListener('beforeunload', handleBeforeUnload);
      };
    }, []);
    return (
        <DynamicTemplates data={${data}} />
    );
};

export default ${CardName}


// App应用
const App = () => {
  return (
    <div className="w-[933px] h-[1360px] bg-slate-200 rounded-[20px] py-[60px] relative">
      {/* 标题区域 */}
      <div className="px-[60px] mb-[138px]">
        <h1 className="text-6xl font-bold text-gray-950">${title}</h1>
      </div>

      {/* 内容区域 */}
      <div className="flex-1 pl-[60px] pr-[20px] min-h-0">
        <ScrollArea className="h-full w-full pr-[40px]">
          <div className="h-[1049px]">
            <${CardName} />
          </div>
        </ScrollArea>
      </div>
    </div>
  )
}

createRoot(document.getElementById('root')!).render(
  <StrictMode>
    <App />
  </StrictMode>
) 