:root {
    --gauge-color-track: #CAD2DD;

    --gauge-color-blue: #0A5BFC;
    --gauge-color-green: #00803E;
    --gauge-color-yellow: #AC7414;
    --gauge-color-red: #B93A3A;
    --gauge-color-gay: rgba(34, 39, 50, 0.4);
}

.dark {
    --gauge-color-track: #202020;

    --gauge-color-blue: #1A79FF;
    --gauge-color-green: #059B53;
    --gauge-color-yellow: #CF8225;
    --gauge-color-red: #BF1D1D;
    --gauge-color-gray: rgba(255, 255, 255, 0.5);
}