:root {
  --color-area-chart-x-axis: rgba(0, 0, 0, 0.5);
  --color-area-chart-y-axis: rgba(34, 39, 50, 0.3);
  --color-cartesian-grid: rgba(0, 0, 0, 0.1);

  --area-color-rising: rgba(255, 132, 132, 1);
  --area-color-falling: rgba(130, 202, 157, 1);

  --line-color-rising: rgba(185, 58, 58, 1);
  --line-color-falling: rgba(58, 123, 58, 1);
}

.dark {
  --color-area-chart-x-axis: rgba(255, 255, 255, 0.5);
  --color-area-chart-y-axis: rgba(255, 255, 255, 0.3);
  --color-cartesian-grid: rgba(255, 255, 255, 0.1);

  --area-color-rising: rgba(97, 28, 28, 1);
  --area-color-falling: rgba(28, 97, 66, 1);

  --line-color-rising: rgba(191, 29, 29, 1);
  --line-color-falling: rgba(5, 155, 83, 1);
}
