/* Horizontal Selector 颜色变量定义 */

:root {
  /* Default 主题颜色 */
  --horizontal-selector-default-selected: #373B44;
  --horizontal-selector-default-unselected: #6D7079;
  --horizontal-selector-disabled: #A7ADB9;
  
  /* Primary 主题颜色 */
  --horizontal-selector-primary-selected: #FFFFFF;
  --horizontal-selector-primary-unselected: #6D7079;
}

.dark {
  /* Dark 模式下的 Default 主题颜色 */
  --horizontal-selector-default-selected: #C0C0C2;
  --horizontal-selector-default-unselected: #909193;
  --horizontal-selector-disabled: #434548;
  
  /* Dark 模式下 Primary 主题颜色保持不变 */
  --horizontal-selector-primary-selected: #FFFFFF;
  --horizontal-selector-primary-unselected: #BBBCBD;
} 